    <div class="min_contner scenario_04 dragbalsc">
        <div class="hedpart">
            <div class="boxed_wrapper">
                <section class="mainmenu-area">
                    <div class="auto-container">
                        <div class="row">
                            <div class="right_icon">
                                <div class="box_right_notif">
                                    <div class="secral_point">
                                        <i class="fa_icon ball"></i>
                                        <span class="num">4</span>
                                        <div class="hover_showbox">
                                            <ul>
                                                <li class="icon">
                                                    A new update is avaiable for Module 03 <span></span>
                                                </li>
                                                <li class="icon">
                                                    A new hot topic has been added to you schedule <span></span>
                                                </li>
                                                <li class="icon">
                                                    <b class="text_last">Dismiss All</b>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_right_notif">
                                    <div class="secral_point help_2">
                                        <i class="fa_icon help"></i>
                                    </div>
                                </div>
                                <div class="box_right_notif">
                                    <div class="secral_point badgesa">
                                        <i class="fa_icon batch"></i>
                                        <div class="hover_showbox badgesa">
                                            <div class="totle_point">
                                                <p>Total Points</p>
                                                <span>165</span>
                                            </div>
                                            <div class="my_batch">
                                                <p>My Badges</p>
                                                <div class="padgess">
                                                    <span><img src="assets/images/badges_1.png" alt=""></span>
                                                    <span><img src="assets/images/badges_2.png" alt=""></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box_right_notif">
                                    <div class="secral_point last">
                                        <i class="fa_icon last"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <div class="main-logo hidden-xs">
                                    <a href="index.html"><img src="assets/images/logo2.png" alt=""></a>
                                </div>
                                <div class="menu_tab">
                                    <button type="button" id="menu_btn" class="navbar" data-toggle="collapse"></button>
                                    <div class="collapse mobile_menu">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" class="">My Profile</a></li>
                                            <li><a href="" class="">Scientific Foundations</a></li>
                                            <li><a href="" class="">Core Product Data</a></li>
                                            <li><a href="" class="">Pipeline and Launch</a></li>
                                            <li><a href="" class="">Field Tools</a></li>
                                            <li><a href="" class="">Hot Topics</a></li>
                                            <li><a href="" class="">Medical Meetings</a></li>
                                            <li><a href="" class="">Expert Talks</a></li>
                                            <li><a href="" class="">Compliance Wire</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="searchic">
                                    <input type="text" class="search_test" name="">
                                    <button type="button" class="search_ic" id="search_btn"></button>
                                </div>
                                <div class="bread_cumb">
                                    <ul>
                                        <li><span></span><a href="">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="user_name">
                                    <div class="username">Hi, Sameer <span>MSL</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="section_tab dragblslide_1 dragbaltab">
            <div class="auto-container">
                <div class="row">
                    <div class="col-md-11 col-sm-12">
                        <div class="menu-topics">
                            <div class="topic-num completed"></div>
                            <div class="topic-num upcoming"></div>
                            <div class="topic-num upcoming inprogress">
                                <div class="trending-topic dp_down">
                                    <div class="hottips">
                                        <p class="text_hip1">Training 3</p>
                                        <div class="inprogrss">In Progress</div>
                                        <div class="inprogrss_bar">
                                            <div class="outer-with">
                                                <div class="cur-prog">
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-para-1">Eye care, ophthalmology</p>
                                        <div class="progrss-details">
                                            <span class="day-remain">26 days remaining</span>
                                            <span class="points">50 points</span>
                                        </div>
                                        <div class="mark_btn">Mark as complete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="topic-num upcoming"> </div>
                            <div class="topic-num locks"> </div>
                        </div>
                        <div class="topic-path">
                            <div class="path path1"></div>
                            <div class="path path2"></div>
                            <div class="path path3 "></div>
                            <div class="path path4 dotted"></div>
                        </div>
                        <div class="basecamp">
                            <span>basecamp</span>
                            <span><img src="assets/images/basecamp-icon.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="auto-container">
                <div class="row ">
                    <div class="col-md-12 ">
                        <p class="footer1 ">© ALLERGAN 2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    