.mycontainer {
    display: inline-block;
    float: none;
    color: #fff;}
.section_tab {
    top: 0% !important;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .footer1  {
      color: #000;
  }
.dragbalsc .section_tab, .silde_14 .section_tab {
    padding-top: 0px;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .dragbalsc .section_tab, .silde_14 .section_tab {
      padding-top: 0px;
    }
}