<!-- <div class="full_sc_pop" [hidden]="myVar">
  <div class="pop_outer">
      <div class="pop_box">
          <div class="colse_btn"><button (click)="hide()"></button></div>
          <div class="pop_head">
              <h2>Attention!</h2>
          </div>
          <div class="pop_content">
              <h5>Hi {{currentUser.name}}!</h5>
              <p>You can attempt this module only after you complete the mandatory modules already assigned to you.</p>
              <p>This module will be activated only on completion of the previous module.</p>
              <h6>Click the close button to continue.</h6>
          </div>
      </div>
  </div>
  </div>
  <footer>
      <div class="auto-container">
          <div class="row ">
              <div class="col-md-12 ">
                  <p class="footer1 ">© ALLERGAN 2019</p>
              </div>
          </div>
      </div>
  </footer> -->
