<div class="min_contner silde_4 silde6_7 " *ngIf="success">
	<!-- <div class="mycontainer">
            <a class="mybtn2 btn btn-link btn-xs"><i class="fa fa-arrow-circle-o-left" style="font-size:2.5rem;"></i></a>
            <div class="navbar-brand">Back</div>
          </div> -->

	<div class="hedpart">
		<div class="boxed_wrapper">
			<app-header-nav></app-header-nav>
			<div class="col-12 screenost">
				<h4 class="page_itext">Select the therapeutic areas, disease state/indications and
					products to include into your training plan.</h4>
			</div>
		</div>
	</div>



	<div class="clearfix"></div>
	<app-therapeuticareas (someEvent)="onSuccess($event)"></app-therapeuticareas>

	<footer>
		<div class="auto-container">
			<div class="row ">
				<div class="col-md-12 ">
					<p class="footer1 ">© ALLERGAN 2019</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<div class="min_contner loaderpage_1" *ngIf="show">


	<div class="boxed_wrapper">

		<div class="auto-container">
			<div class="logo_top">
				<a href="index.html"><img src="assets/images/logo2.png" alt=""></a>
			</div>
			<div class="loding_outer">
				<div class="loding_content">
					<h4>GIVE US A MOMENT</h4>
					<h5>Loding Hot Topics...</h5>
					<div class="loder_circle">
						<span><img src="assets/images/loder-circle.png" alt=""></span>
						<span class="load-thumbnails"><img src="assets/images/loder-2.png" alt=""></span>
					</div>
				</div>
			</div>


		</div>
		<p class="footer1_new">© ALLERGAN 2019</p>
	</div>

</div>