* {
	font-size: 1.3rem;
}
.wmd-view-topscroll, .wmd-view {
    overflow-x: auto;
    overflow-y: hidden;
}
.wmd-view-topscroll::-webkit-scrollbar-track, .wmd-view::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.wmd-view-topscroll::-webkit-scrollbar, .wmd-view::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
	background-color: #F5F5F5;
}

.wmd-view-topscroll::-webkit-scrollbar-thumb, .wmd-view::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}