

<div class="container">
    <div class="dash_header">
        <div class="row align-items-center">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="logo">
                    <a routerLink="/"><img src="assets/images/logo.png"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="header_right text-right">
                    <p>Welcome <span>{{currentUser.name || currentUser.firstName}}</span>!</p>
                    <a routerLink="/" id="home_btn"><span></span></a>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- header end -->