.pointer{
    cursor: pointer;
color: #007bff !important;
}

.table {
	table-layout: fixed;
}
.tableHead > th:nth-child(1) {
	width: 200px;
}
.tableHead > th:nth-child(2) {
	width: 200px;
}
.tableHead > th:nth-child(3) {
	width: 75px;
}
.tableHead > th:nth-child(4) {
	width: 75px;
}
.tableHead > th:nth-child(5) {
	width: 50px;
}
.tableHead > th:nth-child(6) {
	width: 25px;
}
.tableHead > th:nth-child(7) {
	width: 25px;
}
/* .tableHead > th:nth-child(8) {
	width: 25px;
} */
.query, .delete {
	margin:  0px auto;
}