
    <div class="min_contner silde_3 loaderpage_1">
        
       
        <div class="boxed_wrapper">
            <section class="mainmenu-area">
                <div class="auto-container">
                    <div class="loding_outer suc_loader">
                        <div class="loding_content">
                            <div class="load_img"><img src="assets/images/sucs-loder-3.png" alt=""></div>
                            <h4>SUCCESS! </h4>

                            <p>Your profile has been updated. You will receive an email when your account has been activated and your trek has been mapped.</p>

                             <h5>Wish you success in your training!</h5>

                            <h6>Training team allergan</h6>

                        </div>    
                    </div>  
                </div>                  
            </section>
        </div>
            
            <script>
                $(document).ready(function() {
                    $("#search_btn").click(function() {
                        $(".searchic").toggleClass('active');
                        $(".search_test").toggleClass('active');

                    });
                    $("#menu_btn").click(function() {
                        $("#menu_btn").toggleClass('active');
                        $(".collapse").toggleClass('active');
                    });
                });
            </script>
        