.overflow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}
.boxed_wrapper {
    height: 100vh;
}
.select_course.small_pop {
    position: absolute;
    left: 0;
    top: 50% !important;
    max-width: 933px;
    width: 100%;
    margin: 0 auto;
    right: 0;
    z-index: 3;
    transform: translateY(-50%) !important;
}