<div class="min_contner Slide1">

    <div class="boxed_wrapper">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-2">
                    <div class="main-logo">
                        <a><img src="assets/images/logo2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <section class="section_tab">
            <div class="auto-container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-md-offset-1 firant_page">
                        <h3>Welcome to</h3>
                        <div class="suceed_logo">
                            <img src="assets/images/Allergan_Suceed_Logo.png" alt="logo">
                        </div>
                        <a (click)="logout();">Logout</a>
                        <p>A platform for all your training needs. We have collated all your training needs in one place
                            for easier access and to enhance your learning experience.</p>
                        <div class="btn greent_btn" (click)="onUpdateProfile()">Start YOUR TREK!</div>
                    </div>
                </div>
                <div class="mout_upper_img" ><img src="assets/images/ft_img_1.png"></div>
            </div>
        </section>
        <footer class="patern_bg">
            <div class="auto-container">
                <div class="row ">
                    <div class="col-md-12 ">
                        <p class="footer1 ">© ALLERGAN 2019</p>
                    </div>
                </div>
            </div>


        </footer>
    </div>


</div>