<div class="auto-container">
<div class="row">
<div class="col-md-9 col-sm-9">
    <div class="main-logo hidden-xs">
        <a href="index.html"><img src="assets/images/logo2.png" alt=""></a>
    </div>
    <div class="menu_tab">
        <button type="button" id="menu_btn" class="navbar" data-toggle="collapse"></button>
        <div class="collapse mobile_menu">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="">My Profile</a></li>
                <li><a href="" class="">Scientific Foundations</a></li>
                <li><a href="" class="">Core Product Data</a></li>
                <li><a href="" class="">Pipeline and Launch</a></li>
                <li><a href="" class="">Field Tools</a></li>
                <li><a href="" class="">Hot Topics</a></li>
                <li><a href="" class="">Medical Meetings</a></li>
                <li><a href="" class="">Expert Talks</a></li>
                <li><a href="" class="">Compliance Wire</a></li>
            </ul>
        </div>
    </div>
    <div class="searchic">
        <input type="text" class="search_test" name="">
        <button type="button" class="search_ic" id="search_btn"></button>
    </div>
    <div class="bread_cumb">
        <ul>
            <li><span></span><a href="">Home</a></li>
        </ul>
    </div>
</div>
<div class="col-md-2 col-sm-2">
    <div class="user_name">
        <div class="username">Hi, Sameer <span>MSL</span></div>
    </div>
</div>
</div>
</div>