
    <div class="min_contner loaderpage_1 ">

                    <div class="row ">
                        <div class="col-md-2">
                            <div class="main-logo hidden-lg hidden-md hidden-sm center_img">
                                <a href="index.html"><img src="assets/images/logo2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
          
       
        <div class="boxed_wrapper">

                <div class="auto-container">
                    <div class="loding_outer">
                        <div class="loding_content">
                            <div class="loder_circle">
                                <span><img src="assets/images/loder-circle.png" alt=""></span>
                                <span class="load-thumbnails"><img src="assets/images/Loading_Plan.png" alt=""></span>
                            </div><br>
                            <h4>GIVE US A MOMENT</h4>
                            <h5>Preparing Your Trek...</h5>
                        </div>    
                    </div>
                    

            
            </div>
            
            <script>
                $(document).ready(function() {
                    $("#search_btn").click(function() {
                        $(".searchic").toggleClass('active');
                        $(".search_test").toggleClass('active');

                    });
                    $("#menu_btn").click(function() {
                        $("#menu_btn").toggleClass('active');
                        $(".collapse").toggleClass('active');
                    });
                });
            </script>